Repository tedilabs/terraform-aws-ipam, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

Bump to v0.3.0
  VERSION
Labels: none

Add missing timeouts for elastic-ip
  modules/elastic-ip/main.tf
Labels: :floppy_disk: elastic-ip

Update dependabot
  .github/dependabot.yml
Labels: none

Support s3express for managed-prefix-list
  VERSION
  modules/managed-prefix-list/variables.tf
Labels: :floppy_disk: managed-prefix-list

Add service and is_global for outputs in managed-prefix-list
  VERSION
  modules/managed-prefix-list/outputs.tf
  modules/managed-prefix-list/variables.tf
Labels: :floppy_disk: managed-prefix-list

.github/labeler.yaml:

# Modules
":floppy_disk: elastic-ip":
- modules/elastic-ip/**/*

":floppy_disk: ipam":
- modules/ipam/**/*

":floppy_disk: ipam-resource-discovery":
- modules/ipam-resource-discovery/**/*

":floppy_disk: managed-prefix-list":
- modules/managed-prefix-list/**/*

":floppy_disk: prefix-list":
- modules/prefix-list/**/*
