Repository tedilabs/terraform-aws-ipam, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

.github/labeler.yaml:

# Modules
":floppy_disk: elastic-ip":
- changed-files:
  - any-glob-to-any-file:
    - modules/elastic-ip/**/*

":floppy_disk: ipam":
- changed-files:
  - any-glob-to-any-file:
    - modules/ipam/**/*

":floppy_disk: ipam-resource-discovery":
- changed-files:
  - any-glob-to-any-file:
    - modules/ipam-resource-discovery/**/*

":floppy_disk: managed-prefix-list":
- changed-files:
  - any-glob-to-any-file:
    - modules/managed-prefix-list/**/*

":floppy_disk: prefix-list":
- changed-files:
  - any-glob-to-any-file:
    - modules/prefix-list/**/*

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/elastic-ip/README.md
  modules/ipam-resource-discovery/README.md
  modules/ipam/README.md
  modules/managed-prefix-list/README.md
  modules/prefix-list/README.md
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#25)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/elastic-ip/outputs.tf
  modules/elastic-ip/resource-group.tf
  modules/elastic-ip/variables.tf
  modules/ipam-resource-discovery/outputs.tf
  modules/ipam-resource-discovery/resource-group.tf
  modules/ipam-resource-discovery/variables.tf
  modules/ipam/outputs.tf
  modules/ipam/resource-group.tf
  modules/ipam/variables.tf
  modules/prefix-list/outputs.tf
  modules/prefix-list/resource-group.tf
  modules/prefix-list/variables.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: prefix-list

feat: improve how to use resource_group in modules (#26)
  modules/elastic-ip/outputs.tf
  modules/elastic-ip/resource-group.tf
  modules/elastic-ip/variables.tf
  modules/ipam-resource-discovery/outputs.tf
  modules/ipam-resource-discovery/resource-group.tf
  modules/ipam-resource-discovery/variables.tf
  modules/ipam/outputs.tf
  modules/ipam/resource-group.tf
  modules/ipam/variables.tf
  modules/prefix-list/outputs.tf
  modules/prefix-list/resource-group.tf
  modules/prefix-list/variables.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: prefix-list

feat(prefix-list): support aws v6
  modules/prefix-list/README.md
  modules/prefix-list/main.tf
  modules/prefix-list/outputs.tf
  modules/prefix-list/ram-share.tf
  modules/prefix-list/resource-group.tf
  modules/prefix-list/variables.tf
  modules/prefix-list/versions.tf
Labels: :floppy_disk: prefix-list

feat(managed-prefix-list): support aws v6 and resource tagging
  modules/managed-prefix-list/README.md
  modules/managed-prefix-list/main.tf
  modules/managed-prefix-list/outputs.tf
  modules/managed-prefix-list/resource-group.tf
  modules/managed-prefix-list/variables.tf
  modules/managed-prefix-list/versions.tf
Labels: :floppy_disk: managed-prefix-list

feat(elastic-ip): support aws v6
  modules/elastic-ip/README.md
  modules/elastic-ip/main.tf
  modules/elastic-ip/outputs.tf
  modules/elastic-ip/resource-group.tf
  modules/elastic-ip/variables.tf
  modules/elastic-ip/versions.tf
Labels: :floppy_disk: elastic-ip

fix: update example codes
  examples/elastic-ip-amazon/versions.tf
  examples/managed-prefix-lists/main.tf
  examples/managed-prefix-lists/versions.tf
  examples/prefix-lists/versions.tf
Labels: none

feat(elastic-ip): support reverse dns
  modules/elastic-ip/README.md
  modules/elastic-ip/main.tf
  modules/elastic-ip/outputs.tf
  modules/elastic-ip/variables.tf
Labels: :floppy_disk: elastic-ip

feat(ipam): support aws v6
  modules/ipam/README.md
  modules/ipam/main.tf
  modules/ipam/outputs.tf
  modules/ipam/resource-group.tf
  modules/ipam/variables.tf
  modules/ipam/versions.tf
Labels: :floppy_disk: ipam

feat(ipam-resource-discovery): support aws v6
  modules/ipam-resource-discovery/README.md
  modules/ipam-resource-discovery/main.tf
  modules/ipam-resource-discovery/outputs.tf
  modules/ipam-resource-discovery/ram-share.tf
  modules/ipam-resource-discovery/resource-group.tf
  modules/ipam-resource-discovery/variables.tf
  modules/ipam-resource-discovery/versions.tf
Labels: :floppy_disk: ipam-resource-discovery

chore: refine
  modules/managed-prefix-list/main.tf
  modules/prefix-list/main.tf
Labels: :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

chore: bump to v0.4.0
  VERSION
Labels: none

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

fix(ipam-resource-discovery): update ram-share module
  modules/ipam-resource-discovery/README.md
  modules/ipam-resource-discovery/ram-share.tf
Labels: :floppy_disk: ipam-resource-discovery

fix(prefix-list): update ram-share module
  modules/prefix-list/README.md
  modules/prefix-list/ram-share.tf
Labels: :floppy_disk: prefix-list

chore: bump to v0.4.1
  VERSION
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#27)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#31)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#35)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none
