Repository tedilabs/terraform-aws-ipam, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

.github/labeler.yaml:

# Modules
":floppy_disk: elastic-ip":
- changed-files:
  - any-glob-to-any-file:
    - modules/elastic-ip/**/*

":floppy_disk: ipam":
- changed-files:
  - any-glob-to-any-file:
    - modules/ipam/**/*

":floppy_disk: ipam-resource-discovery":
- changed-files:
  - any-glob-to-any-file:
    - modules/ipam-resource-discovery/**/*

":floppy_disk: managed-prefix-list":
- changed-files:
  - any-glob-to-any-file:
    - modules/managed-prefix-list/**/*

":floppy_disk: prefix-list":
- changed-files:
  - any-glob-to-any-file:
    - modules/prefix-list/**/*

chore: fix module labels in .github/labels.yaml (#36)
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

chore(deps): align tedilabs child module version constraints with latest releases
  examples/elastic-ip-amazon/main.tf
  examples/managed-prefix-lists/main.tf
  examples/prefix-lists/main.tf
  modules/ipam-resource-discovery/ram-share.tf
  modules/prefix-list/ram-share.tf
Labels: :floppy_disk: ipam-resource-discovery, :floppy_disk: prefix-list

chore(deps): align tedilabs child module version constraints with latest releases (#37)
  examples/elastic-ip-amazon/main.tf
  examples/managed-prefix-lists/main.tf
  examples/prefix-lists/main.tf
  modules/ipam-resource-discovery/ram-share.tf
  modules/prefix-list/ram-share.tf
Labels: :floppy_disk: ipam-resource-discovery, :floppy_disk: prefix-list

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/elastic-ip/README.md
  modules/ipam-resource-discovery/README.md
  modules/ipam/README.md
  modules/managed-prefix-list/README.md
  modules/prefix-list/README.md
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

docs: regenerate terraform-docs with shared config (#41)
  modules/elastic-ip/README.md
  modules/ipam-resource-discovery/README.md
  modules/ipam/README.md
  modules/managed-prefix-list/README.md
  modules/prefix-list/README.md
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

feat: collect module usage telemetry
  modules/elastic-ip/README.md
  modules/elastic-ip/telemetry.tf
  modules/elastic-ip/versions.tf
  modules/ipam-resource-discovery/README.md
  modules/ipam-resource-discovery/telemetry.tf
  modules/ipam-resource-discovery/versions.tf
  modules/ipam/README.md
  modules/ipam/telemetry.tf
  modules/ipam/versions.tf
  modules/managed-prefix-list/README.md
  modules/managed-prefix-list/telemetry.tf
  modules/managed-prefix-list/versions.tf
  modules/prefix-list/README.md
  modules/prefix-list/telemetry.tf
  modules/prefix-list/versions.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

feat: collect module usage telemetry (#42)
  modules/elastic-ip/README.md
  modules/elastic-ip/telemetry.tf
  modules/elastic-ip/versions.tf
  modules/ipam-resource-discovery/README.md
  modules/ipam-resource-discovery/telemetry.tf
  modules/ipam-resource-discovery/versions.tf
  modules/ipam/README.md
  modules/ipam/telemetry.tf
  modules/ipam/versions.tf
  modules/managed-prefix-list/README.md
  modules/managed-prefix-list/telemetry.tf
  modules/managed-prefix-list/versions.tf
  modules/prefix-list/README.md
  modules/prefix-list/telemetry.tf
  modules/prefix-list/versions.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

fix: honor telemetry opt-out
  modules/elastic-ip/telemetry.tf
  modules/ipam-resource-discovery/telemetry.tf
  modules/ipam/telemetry.tf
  modules/managed-prefix-list/telemetry.tf
  modules/prefix-list/telemetry.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

fix: honor telemetry opt-out (#43)
  modules/elastic-ip/telemetry.tf
  modules/ipam-resource-discovery/telemetry.tf
  modules/ipam/telemetry.tf
  modules/managed-prefix-list/telemetry.tf
  modules/prefix-list/telemetry.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

feat: support pseudonymization and HCP Terraform metadata in telemetry
  modules/elastic-ip/README.md
  modules/elastic-ip/telemetry.tf
  modules/elastic-ip/versions.tf
  modules/ipam-resource-discovery/README.md
  modules/ipam-resource-discovery/telemetry.tf
  modules/ipam-resource-discovery/versions.tf
  modules/ipam/README.md
  modules/ipam/telemetry.tf
  modules/ipam/versions.tf
  modules/managed-prefix-list/README.md
  modules/managed-prefix-list/telemetry.tf
  modules/managed-prefix-list/versions.tf
  modules/prefix-list/README.md
  modules/prefix-list/telemetry.tf
  modules/prefix-list/versions.tf
Labels: :floppy_disk: elastic-ip, :floppy_disk: ipam, :floppy_disk: ipam-resource-discovery, :floppy_disk: managed-prefix-list, :floppy_disk: prefix-list
